<h2>Filters</h2>
<%= form_with model: @category, method: :get, local: true do |f| %>
  <p>
    <%= f.label :date_group, "Due: " %>
    <%= f.select(:date_group, options_for_select(['Next 7 Days',
                                                  'Anytime'],
                                                  params[:date_group]),
                              { :include_blank => 'Today' }) %>
  </p>

  <p>
    <%= f.label :priority_status, "Priority: " %>
    <noscript><%= f.select(:priority_status, options_for_select([['None', 0],
                                                ['Low', 1],
                                                ['Medium', 2],
                                                ['High', 3]],
                                                params[:priority_status]),
                            { :include_blank => "All" }) %>
  </noscript>
  <%= f.check_box :priority_status_0, 
    checked: (params[:priority_status].include?("0") rescue false) %>
  <span class='priority_flag none'>None</span>
  <%= f.check_box :priority_status_1, 
    checked: (params[:priority_status].include?("1") rescue false) %>
  <span class='priority_flag low'>Low</span>
  <%= f.check_box :priority_status_2,
    checked: (params[:priority_status].include?("2") rescue false) %>
  <span class='priority_flag med'>Med</span>
  <%= f.check_box :priority_status_3,
    checked: (params[:priority_status].include?("3") rescue false) %>
  <span class='priority_flag high'>High</span><br>


    <%= f.label :category_id, "Category: " %>
    <%= f.collection_select(:category_id, 
                            Category.all.order(name: :asc), :id, :name,
                            { :selected => params[:category_id], 
                              :include_blank => "All" }) %><br>
    <%= f.label :status, "Completed: " %>
    <%= f.check_box :status, checked: (params[:status] == "0" ? false : true) %>
  </p>

  <p>
  <noscript><%= f.submit "Filter", name: nil %></noscript>
    <%= link_to 'Reset', tasks_path(category_id: "", date_group: "",
                                    status: 0, priority_status: "") %><br>
  </p>
<% end %>
