<%= form_with model: @category, method: :get, local: true do |f| %>
  <p>
    <%= f.label :category_id, "Category: " %>
    <%= f.collection_select(:category_id, Category.all, :id, :name,
                            { :selected => params[:category_id], 
                              :include_blank => true }) %>
    <%= f.label :completed, "Status: " %>
    <%= f.select(:completed, options_for_select([['Active', 0], 
                                                 ['Completed', 1]],
                                                params[:completed])) %>
  </p>

  <p>
    <%= f.submit "Filter", name: nil %>
    <%= link_to 'Reset', tasks_path %><br>
  </p>
<% end %>

