<h2>Filters</h2>
<%= form_with model: @category, method: :get, local: true do |f| %>
  <p>
    <%= f.label :date_group, "Due: " %>
    <%= f.select(:date_group, options_for_select(['Next 7 Days',
                                                  'Anytime'],
                                                  params[:date_group]),
                              { :include_blank => 'Today' }) %>
  </p>

  <p>
    <%= f.label :priority_status, "Priority: " %>
    <%= f.select(:priority_status, options_for_select([['None', 0],
                                                ['Low', 1],
                                                ['Medium', 2],
                                                ['High', 3]],
                                                params[:priority_status]),
                            { :include_blank => "All" }) %>

    <%= f.label :category_id, "Category: " %>
    <%= f.collection_select(:category_id, 
                            Category.all.order(name: :asc), :id, :name,
                            { :selected => params[:category_id], 
                              :include_blank => "All" }) %>
    <%= f.label :status, "Status: " %>
    <%= f.select(:status, options_for_select([['Active', 0], 
                                                 ['Completed', 1]],
                                                params[:status])) %>
  </p>

  <p>
  <noscript><%= f.submit "Filter", name: nil %></noscript>
    <%= link_to 'Reset', tasks_path(category_id: "", date_group: "",
                                    status: 0, priority_status: "") %><br>
  </p>
<% end %>
