<%= form_with model: @task, local: true do |f| %>
  <div class='index_row'>
    <% if @task.persisted? %>
      <%= f.check_box :completed, class: 'completed' %>
    <% end %>

    <%= f.text_field :title, class: 'edit_task_title', placeholder: "Go Shopping" %>
  </div>

  <p>
    <strong><%= f.label :duedate, "Due Date: " %></strong>
    <%= f.datetime_select :duedate, start_year: Time.now.year,
      default: { :hour => 23, :minute => 59 } %>
  </p>
  
  <p>
    <strong><%= f.label :priority, "Priority: " %></strong>
    <%= f.select :priority, [['None', 0], ['Low', 1],
                             ['Medium', 2], ['High', 3]] %>
  </p>

  <p>
    <strong><%= f.label :repeat, "Repeat Daily: " %></strong>
    <%= f.check_box :repeat %>
  </p>

  <p>
    <strong><%= f.label :comments, "Comments: " %></strong>
    <%= f.text_area :comments %>
  </p>

  <p>
    <strong><%= f.label :category_list, "Select Categories: " %></strong>
    <%= f.collection_select(:category_list,
                            Category.all.order(name: :asc), :id, :name,
                            { :selected => @task.categories.map do |t|
                                              t.id
                                              end,
                              :include_blank => true },
                            { :multiple => true }) %>
  </p>

  <p>
    <strong><%= f.label :new_category_list, "or create new Categories
                                     (seperated by ','): " %></strong><br>
    <%= f.text_field :new_category_list %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
