<div class='index_row'>
  <%= check_box_tag 'tasks', task.id, task.completed, class: 'completed' %>
  <span class='title'><%= link_to task.title, task %></span>
  <span class='date'><%= task.duedate.strftime("%A, %d %b %y") %></span>
  <span class='priority'><%= task.priority_level %></span>
  <span class='destroy'>
    <%= link_to task_path(task),
      method: :delete,
      data: { confirm: 'Are you sure?' } do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </span>
</div>

