<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>
 
<p>
  <strong>Due Date:</strong>
  <%= @task.duedate.strftime("%A, %d %b %y - %l:%M %P") %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @task.priority_level %>
</p>

<p>
  <strong>Repeat Daily:</strong>
  <%= @task.repeat ? 'Yes' : 'No' %>
</p>

<strong>Subtasks</strong>
<%= link_to 'Add new subtask', new_task_subtask_path(@task) %><br>

<div id="listings">
<% if @task.subtasks.any? %>
  <table>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Completed</th>
    </tr>

    <% @task.subtasks.each.with_index(1) do |subtask, index| %>
      <%= form_with(model: subtask, url: subtask, local: true) do |f| %>
        <tr>
          <td><%= index %></td>
          <td><span class="subtask-hide-<%= subtask.id %>">
            <%= subtask.title %></span>
              <%= f.text_field :title, class: 'hidden-form-'+subtask.id.to_s %></td>
          <td><%= check_box_tag 'subtasks', subtask.id, subtask.completed,
                    class: 'completed' %></td>
          <td>
            <%= link_to 'Edit', edit_subtask_path(subtask), 
              class: 'subtask-edit subtask-hide-'+subtask.id.to_s %>
              <%= f.submit class: 'hidden-form-'+subtask.id.to_s %></td>
          <td><%= link_to 'Destroy', subtask_path(subtask),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
    <tr>
      <%= form_with(model: @task.subtasks.build, 
                    url: [@task, @task.subtasks.build], local: true) do |ff| %>
        <td><%= @task.subtasks.count + 1 %></td>
        <td><%= ff.text_field :title %></td>
        <td><%= ff.check_box :completed %></td>
        <td><%= ff.submit %></td>
      <% end %>
    </tr>
    </table>
<% end %>
</div>

<p>
  <strong>Comments:</strong>
  <%= @task.comments %>
</p>

<p>
  <strong>Category:</strong>
  <%= @task.category_list %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @task.completed ? 'Yes' : 'No' %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
