<h1>Task Details</h1>

<div id="task_listing">
  <%= render partial: 'task', locals: { task: @task, show: true } %>
</div>

<div id="subtask_listings">
  <%= render @task.subtasks %>
</div>

<div id="new_subtask">
  <%= render partial: '/subtasks/form' %>
</div>

<p>
  <strong>Repeat Daily: </strong>
  <%= @task.repeat ? 'Yes' : 'No' %>
</p>

<p>
  <strong>Comments: </strong>
  <%= @task.comments %>
</p>

<p>
  <strong>Category: </strong>
  <%=@task.category_list %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> | <%= link_to 'Back', tasks_path %>
