<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>
 
<p>
  <strong>Due Date:</strong>
  <%= @task.duedate.strftime("%A, %d %b %y - %l:%M %P") %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @task.priority_level %>
</p>

<p>
  <strong>Repeat Daily:</strong>
  <%= @task.repeat ? 'Yes' : 'No' %>
</p>

<strong>Subtasks</strong>
<%= link_to 'Add new subtask', new_task_subtask_path(@task) %><br>

<% if @task.subtasks.any? %>
  <table>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Completed</th>
    </tr>

    <% @task.subtasks.each.with_index(1) do |subtask, index| %>
      <tr>
        <td><%= index %></td>
        <td><%= subtask.title %></td>
        <td><%= check_box_tag 'completed', subtask.id, subtask.completed,
                  class: 'completed' %></td>
        <td><%= link_to 'Edit', edit_subtask_path(subtask) %></td>
        <td><%= link_to 'Destroy', subtask_path(subtask),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<p>
  <strong>Comments:</strong>
  <%= @task.comments %>
</p>

<p>
  <strong>Category:</strong>
  <%= @task.category_list %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @task.completed ? 'Yes' : 'No' %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
