<h1>Task Details</h1>

<div class='index_row'>
  <%= check_box_tag 'tasks', @task.id, @task.completed, class: 'completed' %>
  <span class='task_title'><%= link_to @task.title, @task %></span>
  <span class='task_date'>
    <%= @task.duedate.strftime("%A, %d %b %y") %>
  </span>
  <span class='task_priority'><%= @task.priority_level %></span>
  <span class='task_destroy'><%= link_to 'Destroy', task_path(@task),
      method: :delete,
      data: { confirm: 'Are you sure?' } %></span>
</div>

<div id="subtask_listings">
  <%= render @task.subtasks %>
</div>

<div id="new_subtask">
  <%= render partial: '/subtasks/form' %>
</div>

<p>
  <strong>Repeat Daily: </strong>
  <%= @task.repeat ? 'Yes' : 'No' %>
</p>

<p>
  <strong>Comments: </strong>
  <%= @task.comments %>
</p>

<p>
  <strong>Category: </strong>
  <%=@task.category_list %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> | <%= link_to 'Back', tasks_path %>
