<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>
 
<p>
  <strong>Due Date:</strong>
  <%= @task.duedate.strftime("%A, %d %b %y - %l:%M %P") %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @task.priority_level %>
</p>

<p>
  <strong>Repeat Daily:</strong>
  <%= @task.repeat ? 'Yes' : 'No' %>
</p>

<strong>Subtasks</strong>
<%= link_to 'Add new subtask', new_task_subtask_path(@task) %><br>

<div id="listings">
  <%= render @task.subtasks %>
</div>

<div id="new_subtask">
<%= render partial: '/subtasks/form' %>
</div>

<p>
  <strong>Comments:</strong>
  <%= @task.comments %>
</p>

<p>
  <strong>Category:</strong>
  <%= @task.category_list %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @task.completed ? 'Yes' : 'No' %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
