<%= form_with(model: [ @task, @task.subtasks.build ]) do |ff| %>
<p>
  <%= @task.subtasks.count + 1 %>
  <%= ff.text_field :title %>
  <% if @subtask && @subtask.persisted? %>
    <%= ff.completed :completed %>
  <% end %>
  <%= ff.submit %>
</p>
  <% if @subtask && @subtask.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@subtask.errors.count, "error") %> prohibited
        this subtask from being saved:
      </h2>
      <ul>
        <% @subtask.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

