<%= form_with model: subtask, url: subtask, local: true do |f| %>
  <span class="subtask-hide-<%= subtask.id %>">
    <%= subtask.title %></span>
  <%= f.text_field :title, class: 'hidden-form-'+subtask.id.to_s %>
  <%= check_box_tag 'subtasks', subtask.id, subtask.completed, class: 'completed' %>
  <%= link_to 'Edit', edit_subtask_path(subtask),
      class: 'subtask-edit subtask-hide-'+subtask.id.to_s %>
  <%= f.submit class: 'hidden-form-'+subtask.id.to_s %>
  <%= link_to 'Destroy', subtask_path(subtask),
      method: :delete,
      data: { confirm: 'Are you sure?' } %>
<% end %>
